# Originally generated via:
# bin/controller-gen rbac:roleName=manager-role crd webhook paths="./..." output:crd:artifacts:config=config/crd/bases
---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  creationTimestamp: null
  name: mutating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-vertica-com-v1-verticadb
  failurePolicy: Fail
  name: mverticadb.v1.kb.io
  rules:
  - apiGroups:
    - vertica.com
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - verticadbs
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-vertica-com-v1beta1-verticaautoscaler
  failurePolicy: Fail
  name: mverticaautoscaler.kb.io
  rules:
  - apiGroups:
    - vertica.com
    apiVersions:
    - v1beta1
    operations:
    - CREATE
    - UPDATE
    resources:
    - verticaautoscalers
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-vertica-com-v1beta1-eventtrigger
  failurePolicy: Fail
  name: meventtrigger.kb.io
  rules:
  - apiGroups:
    - vertica.com
    apiVersions:
    - v1beta1
    operations:
    - CREATE
    - UPDATE
    resources:
    - eventtriggers
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-vertica-com-v1beta1-verticarestorepointsquery
  failurePolicy: Fail
  name: mverticarestorepointsquery.kb.io
  rules:
  - apiGroups:
    - vertica.com
    apiVersions:
    - v1beta1
    operations:
    - CREATE
    - UPDATE
    resources:
    - verticarestorepointsqueries
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-vertica-com-v1beta1-verticascrutinize
  failurePolicy: Fail
  name: mverticascrutinize.kb.io
  rules:
  - apiGroups:
    - vertica.com
    apiVersions:
    - v1beta1
    operations:
    - CREATE
    - UPDATE
    resources:
    - verticascrutinizers
  sideEffects: None
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  creationTimestamp: null
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-vertica-com-v1beta1-verticaautoscaler
  failurePolicy: Fail
  name: vverticaautoscaler.kb.io
  rules:
  - apiGroups:
    - vertica.com
    apiVersions:
    - v1beta1
    operations:
    - CREATE
    - UPDATE
    resources:
    - verticaautoscalers
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-vertica-com-v1-verticadb
  failurePolicy: Fail
  name: vverticadb.v1.kb.io
  rules:
  - apiGroups:
    - vertica.com
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - verticadbs
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-vertica-com-v1beta1-eventtrigger
  failurePolicy: Fail
  name: veventtrigger.kb.io
  rules:
  - apiGroups:
    - vertica.com
    apiVersions:
    - v1beta1
    operations:
    - CREATE
    - UPDATE
    resources:
    - eventtriggers
  sideEffects: None

- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-vertica-com-v1beta1-verticarestorepointsquery
  failurePolicy: Fail
  name: vverticarestorepointsquery.kb.io
  rules:
  - apiGroups:
    - vertica.com
    apiVersions:
    - v1beta1
    operations:
    - CREATE
    - UPDATE
    resources:
    - verticarestorepointsqueries
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-vertica-com-v1beta1-verticascrutinize
  failurePolicy: Fail
  name: vverticascrutinize.kb.io
  rules:
  - apiGroups:
    - vertica.com
    apiVersions:
    - v1beta1
    operations:
    - CREATE
    - UPDATE
    resources:
    - verticascrutinizers
  sideEffects: None