# (c) Copyright [2021-2024] Open Text.
# Licensed under the Apache License, Version 2.0 (the "License");
# You may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Running this manifest requires the minio operator to be installed.
# It can be installed via:
#   kubectl krew install minio
#   kubectl minio init

# MiniIO storage config. The access/secret key needs to be duplicated here
apiVersion: v1
kind: Secret
metadata:
  name: storage-configuration
stringData:
  config.env: |-
    export MINIO_ROOT_USER="minio"
    export MINIO_ROOT_PASSWORD="minio123"
type: Opaque
---
# Secret to be used as MinIO Root Credentials. We use this secret as access
# credentials in v1beta1_verticadb.yaml. The accesskey/secretkey is duplicated
# in the storage-configuration.
apiVersion: v1
kind: Secret
metadata:
  name: s3-auth
type: Opaque
data:
  # Access Key for MinIO Tenant, base64 encoded (echo -n 'minio' | base64)
  accesskey: bWluaW8=
  # Secret Key for MinIO Tenant, base64 encoded (echo -n 'minio123' | base64)
  secretkey: bWluaW8xMjM=
---
# MinIO Tenant Definition
apiVersion: minio.min.io/v2
kind: Tenant
metadata:
  name: minio
spec:
  configuration:
    name: storage-configuration
  image: quay.io/minio/minio:RELEASE.2023-01-12T02-06-16Z
  imagePullPolicy: IfNotPresent
  pools:
    - servers: 1
      volumesPerServer: 4
      volumeClaimTemplate:
        metadata:
          name: data
        spec:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 250Mi
  mountPath: /export
  requestAutoCert: false
---
# Job to create a bucket in minio
apiVersion: batch/v1
kind: Job
metadata:
  name: create-s3-bucket
spec:
  ttlSecondsAfterFinished: 360
  template:
    spec:
      containers:
        - name: aws
          image: amazon/aws-cli:2.17.34
          command:
            [
              "bash",
              "-c",
              "aws s3 rb --endpoint http://minio s3://nimbusdb --force || :; aws s3 mb --endpoint http://minio s3://nimbusdb/db",
            ]
          env:
            - name: AWS_ACCESS_KEY_ID
              value: minio
            - name: AWS_SECRET_ACCESS_KEY
              value: minio123
            - name: AWS_EC2_METADATA_DISABLED
              value: 'true'
      restartPolicy: Never
