# (c) Copyright [2021] Micro Focus or one of its affiliates.
# Licensed under the Apache License, Version 2.0 (the "License");
# You may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Default values for verticadb-operator.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.



image:
  name: vertica/verticadb-operator:1.2.0

webhook:
  # The webhook requires a TLS certficate to work.  By default we rely on
  # cert-manager to be installed as we use it generate the cert.  cert-manager
  # can be installed with this command:
  # kubectl apply -f https://github.com/jetstack/cert-manager/releases/download/v1.5.3/cert-manager.yaml
  #
  # If you don't want to use cert-manager, you need to specify your own cert,
  # which you can do with the next two parameters.
  #
  # tlsSecret is a name of a secret in the same namespace the chart is being
  # installed in.  The secret must have the keys: tls.key, ca.crt, and tls.crt.
  tlsSecret: ""
  # caBundle is a PEM encoded CA bundle that will be used to validate the
  # webhook's server certificate.  If unspecified, system trust roots on the
  # apiserver are used.
  caBundle: ""

logging:
  # filePath is the path to the log file. If omitted, all logging will be written to stdout.
  filePath: ""
  # maxFileSize is the maximum size, in MB, of the logging file before log rotation occurs. 
  # This is only applicable if logging to a file.
  maxFileSize: 500
  # maxFileAge is the maximum number of days to retain old log files based on the timestamp
  # encoded in the file. This is only applicable if logging to a file.
  maxFileAge: 7
  # maxFileRotation is the maximum number of files that are kept in rotation before the old ones are removed. 
  # This is only applicable if logging to a file.
  maxFileRotation: 3
  # level is the minimum logging level. Valid values are: debug, info, warn, and error
  level: info
  # dev Enables development mode if true and production mode otherwise and also affects
  # logs format. A few differences on logging will be: in dev mode stack traces are produced more liberally,
  # on logs of WarnLevel and above while in production, they are included on logs of ErrorLevel and above.
  # Moreover dev mode disables sampling. 
  dev: false


# The resource requirements for the operator pod.  See this for more info:
# https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/
# These defaults must be kept in sync with config/manifests/kustomization.yaml
resources:
  limits:
    cpu: 100m
    memory: 750Mi
  requests:
    cpu: 100m
    memory: 20Mi
