name: Build Release Artifacts

on:
  workflow_dispatch:

jobs:
  release-artifacts:
    runs-on: ubuntu-latest
      
    steps:
    - uses: actions/checkout@v2

    - name: Set up environment
      uses: ./.github/actions/setup-go-kctx
    
    - name: Install krew
      run: | 
        make krew
        echo "${KREW_ROOT:-$HOME/.krew}/bin" >> $GITHUB_PATH
      
    - name: Build CRD yaml
      run: make generate manifests
    
    - name: Lint the charts
      run: make lint

    - name: Build vdb-gen
      run: | 
        mkdir -p bin
        make vdb-gen
        ls -lhrt bin/

    - name: Build Release yaml
      run: |
        make config-transformer
        ls -lhrt config/release-manifests

    - name: Build Bundle
      run: | 
        IMG_REPO=docker.io/vertica/ DEPLOY_WITH=olm make bundle
        ls -lhrt

    - name: Package helm charts
      run: | 
        cd helm-charts
        helm package verticadb-operator
        ls -lhrt
    
    - name: Upload CRD
      uses: actions/upload-artifact@v2
      with:
        name: release-artifacts
        path: /home/runner/work/vertica-kubernetes/vertica-kubernetes/helm-charts/verticadb-operator/crds/verticadbs.vertica.com-crd.yaml 

    - name: Upload Custom SCC
      uses: actions/upload-artifact@v2
      with:
        name: release-artifacts
        path: /home/runner/work/vertica-kubernetes/vertica-kubernetes/config/samples/custom-scc.yaml
    
    - name: Upload RBAC to run Operator
      uses: actions/upload-artifact@v2
      with:
        name: release-artifacts
        path: /home/runner/work/vertica-kubernetes/vertica-kubernetes/config/release-manifests/operator-rbac.yaml

    - name: Upload Helm Charts
      uses: actions/upload-artifact@v2
      with:
        name: release-artifacts
        path: /home/runner/work/vertica-kubernetes/vertica-kubernetes/helm-charts/*.tgz

    - name: Upload vdb-gen
      uses: actions/upload-artifact@v2
      with:
        name: release-artifacts
        path: /home/runner/work/vertica-kubernetes/vertica-kubernetes/bin/vdb-gen

    - name: Upload ClusterRole to allow auth proxy to lookup access privileges
      uses: actions/upload-artifact@v2
      with:
        name: release-artifacts
        path: /home/runner/work/vertica-kubernetes/vertica-kubernetes/config/release-manifests/verticadb-operator-proxy-role-cr.yaml


    - name: Upload ClusterRoleBinding to bind a ServiceAccount to the role allowing access privilege lookups
      uses: actions/upload-artifact@v2
      with:
        name: release-artifacts
        path: /home/runner/work/vertica-kubernetes/vertica-kubernetes/config/release-manifests/verticadb-operator-proxy-rolebinding-crb.yaml


    - name: Upload ClusterRole for non-resource access of the /metrics endpoint
      uses: actions/upload-artifact@v2
      with:
        name: release-artifacts
        path: /home/runner/work/vertica-kubernetes/vertica-kubernetes/config/release-manifests/verticadb-operator-metrics-reader-cr.yaml


    - name: Upload ServiceMonitor object for integration with Prometheus operator
      uses: actions/upload-artifact@v2
      with:
        name: release-artifacts
        path: /home/runner/work/vertica-kubernetes/vertica-kubernetes/config/release-manifests/verticadb-operator-metrics-monitor-servicemonitor.yaml


    - name: Upload Bundle
      uses: actions/upload-artifact@v2
      with:
        name: olm-bundle
        path: /home/runner/work/vertica-kubernetes/vertica-kubernetes/bundle
    

    



        
