name: Build Release Artifacts

on:
  workflow_dispatch:
  workflow_call:

jobs:
  release-artifacts:
    runs-on: ubuntu-latest
      
    steps:
    - uses: actions/checkout@v4

    - name: Set up environment
      uses: ./.github/actions/setup-go
    
    - name: Install krew
      run: | 
        make krew
        echo "${KREW_ROOT:-$HOME/.krew}/bin" >> $GITHUB_PATH
      
    - name: Build CRDs yaml
      run: make generate manifests
    
    - name: Lint the charts
      run: make lint

    - name: Build vdb-gen
      run: | 
        mkdir -p bin
        make vdb-gen
        ls -lhrt bin/

    - name: Build Release yaml
      run: |
        IMG_REPO=docker.io/opentext/ make config-transformer
        ls -lhrt config/release-manifests

    - name: Build Bundle
      run: | 
        IMG_REPO=docker.io/opentext/ DEPLOY_WITH=olm make bundle
        ls -lhrt

    - name: Package helm charts
      run: | 
        cd helm-charts
        helm package verticadb-operator
        ls -lhrt
    
    - name: Upload release-artifacts
      uses: actions/upload-artifact@v4
      with:
        name: release-artifacts
        path: |
          /home/runner/work/vertica-kubernetes/vertica-kubernetes/helm-charts/verticadb-operator/crds/*-crd.yaml 
          /home/runner/work/vertica-kubernetes/vertica-kubernetes/config/release-manifests/*yaml
          /home/runner/work/vertica-kubernetes/vertica-kubernetes/helm-charts/*.tgz
          /home/runner/work/vertica-kubernetes/vertica-kubernetes/bin/vdb-gen

    - name: Upload bundle
      uses: actions/upload-artifact@v4
      with:
        name: olm-bundle
        path: |
          /home/runner/work/vertica-kubernetes/vertica-kubernetes/bundle
