name: e2e tests

on: 
  push:
    branches: [main, vnext]
  pull_request:
  workflow_dispatch:
    inputs:
      operator_image:
        description: 'Name of an existing operator image. Leave blank to build one with the default name'
        type: string
        required: false
      full_vertica_image:
        description: 'Name of an existing full vertica image. Leave blank to build one with the default name'
        type: string
        required: false
      minimal_vertica_image:
        description: 'Name of an existing minimal vertica image. Leave blank to build one with the default name'
        type: string
        required: false
      vlogger_image:
        description: 'Name of an existing vlogger image. Leave blank to build oe with the default name'
        type: string
        required: false
      e2e_test_suites:
        description: 'E2E test suites to run'
        required: false
        type: choice
        default: all
        options:
        - all
        - none
        - s3
        - azb
        - hdfs
        - server upgrade
        - operator upgrade
      security_scan_exit_code:
        description: 'Set to 1 to fail the build for security vulnerabilities. Otherwise set to 0'
        required: false
        type: string
        default: '0'
      run_security_scan:
        description: 'What images to scan?'
        type: choice
        default: 'all, except vertica server'
        options:
        - all
        - none
        - all, except vertica server

jobs:
  build:
    uses: ./.github/workflows/build-images.yml
    with:
      vlogger_image: ${{ inputs.vlogger_image }}
      operator_image: ${{ inputs.operator_image }}
      minimal_vertica_image: ${{ inputs.minimal_vertica_image }}
      full_vertica_image: ${{ inputs.full_vertica_image }}
      security_scan_exit_code: ${{ inputs.security_scan_exit_code }}
      run_security_scan: ${{ inputs.run_security_scan }}
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      PR_GITHUB_USERNAME: ${{ secrets.PR_GITHUB_USERNAME }}
      PR_GITHUB_PAT: ${{ secrets.PR_GITHUB_PAT }}

  unittests:
    uses: ./.github/workflows/unittests.yml

  scorecardtests:
    uses: ./.github/workflows/scorecardtests.yml

  e2e-s3:
    if: ${{ inputs.e2e_test_suites == 'all' || inputs.e2e_test_suites == 's3' || inputs.e2e_test_suites == '' }}
    needs: [build] 
    uses: ./.github/workflows/e2e-s3.yml
    with:
      vlogger-image: ${{ needs.build.outputs.vlogger-image }}
      operator-image: ${{ needs.build.outputs.operator-image }}
      vertica-image: ${{ needs.build.outputs.minimal-vertica-image }}
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

  e2e-hdfs:
    if: ${{ inputs.e2e_test_suites == 'all' || inputs.e2e_test_suites == 'hdfs' || inputs.e2e_test_suites == '' }}
    needs: [build] 
    uses: ./.github/workflows/e2e-hdfs.yml
    with:
      vlogger-image: ${{ needs.build.outputs.vlogger-image }}
      operator-image: ${{ needs.build.outputs.operator-image }}
      vertica-image: ${{ needs.build.outputs.minimal-vertica-image }}
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

  e2e-azb:
    if: ${{ inputs.e2e_test_suites == 'all' || inputs.e2e_test_suites == 'azb' || inputs.e2e_test_suites == '' }}
    needs: [build] 
    uses: ./.github/workflows/e2e-azb.yml
    with:
      vlogger-image: ${{ needs.build.outputs.vlogger-image }}
      operator-image: ${{ needs.build.outputs.operator-image }}
      vertica-image: ${{ needs.build.outputs.full-vertica-image }}
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

  e2e-server-upgrade:
    if: ${{ inputs.e2e_test_suites == 'all' || inputs.e2e_test_suites == 'server upgrade' || inputs.e2e_test_suites == '' }}
    needs: [build] 
    uses: ./.github/workflows/e2e-server-upgrade.yml
    with:
      vlogger-image: ${{ needs.build.outputs.vlogger-image }}
      operator-image: ${{ needs.build.outputs.operator-image }}
      vertica-image: ${{ needs.build.outputs.minimal-vertica-image }}
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

  e2e-operator-upgrade:
    if: ${{ inputs.e2e_test_suites == 'all' || inputs.e2e_test_suites == 'operator upgrade' || inputs.e2e_test_suites == '' }}
    needs: [build] 
    uses: ./.github/workflows/e2e-operator-upgrade.yml
    with:
      vlogger-image: ${{ needs.build.outputs.vlogger-image }}
      operator-image: ${{ needs.build.outputs.operator-image }}
      vertica-image: ${{ needs.build.outputs.full-vertica-image }}
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
