name: Unit tests

on: [push, workflow_call]

jobs:

  ut:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.18.5

    - name: Run unit tests
      run: make test
